* {
    padding: 0;
    margin: 0;
}

.header {
    line-height: 50px;
    width: 100%;
}

.header__content {

}

.header__nav {
    border: solid black 1px;
    width: 90%;
    margin: auto;
    text-align: right;
}

.header__item {
    margin-right: 5px;
    padding: 1px;
    display: inline;
}

.header__title {
    margin-left: 5px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}

.body {
    width: 90%;
    height: 585px;
    margin: auto;
    border: solid black 1px;
}

.body__sectionOne {
    text-align: left;
    line-height: 35px;
    border: black solid 1px;
}

.body__sectionOne__item {
    margin-left: 5px;
}

.body__sectionTwo {
    border : solid black 1px;
}

.body__sectionTwo h1 {
    font-size: 22px;
}

.body__sectionTwo__Column__1 a {
    display: block;
}

.body__sectionTwo__Column__1 {
    width: 19%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    border: solid black 1px;
}

.body__sectionTwo__Column__2 {
    width: 59%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    border: solid black 1px;
}

.body__sectionTwo__Column__3 {
    width: 19%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    border: solid black 1px;
}

.footer {
    line-height: 25px;
    width: 90%;
    margin: 6px auto auto;
    text-align: left;
    border: solid black 1px;
}

.footer__item {
    text-decoration: none;
    display: inline;
}

.footer__copyright {
    float: right;
    margin-right: 5px;
}